/*! Start Award Page Styles */
.award {
	padding-bottom:150px;
	font-family: 'HelveticaNeueMedium';
	h2{
		text-align:center;
		padding:150px 0;
		font-size:50px;
		font-family: "helvetica-neue";
	}
	h3{
		margin:0;
		padding-bottom:25px;
		font-family: 'HelveticaNeueMedium';
	}
	h4{
		font-size:22px;
		margin:0;
		padding:25px 0 15px;
	}
	h4 span{
		display:block;
	}
	.price-box{
		font-size:22px;
	}
	.price-box .pull-right{
		color:$blue-color;
	}	
}
.award-slide{
	display:inline-block;

}
