@media screen and (min-width: 770px) {
  .campaigns {
    clear: both;
    .camp-box {
        margin: 20px 0;
    }
  }
}
.category_panel_div {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.category_item_div {
  float: left;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}
.category_item_div .num {
  float: right;
  background-color: #3b76ed;
  color: #fff;
  border-radius: 15px;
  min-width: 28px;
  text-align: center;
  padding: 2px 12px;
}
.category_item_div.category_selected {
  border-color: #28b204;
  color: #28b204;
}
.category_item_div:hover {
  border-color: #28b204;
  color: #28b204;
  cursor: pointer;
}

.camp-box {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin: 20px 10px;
  padding: 20px;
  border: 1px solid #eee;

  p {
    line-height: 1.5;
    font-size: 14px;
  }
}