.campaigns{
	background:#eff0f1;
	padding-bottom:40px;
}
.campaigns-header{
	.home-body{
		h1{
			text-align:center;
			&:after{
				display:none;
			}
		}
		p{
			text-align:center;
		}
	}
}

.campaigns-menu{
	$fontfamily:"Karla";
	background:$white-background-color;
	margin-top:-60px;
	padding-top:60px;
	margin-bottom:50px;
	padding-bottom:0px;
	border-radius:$radius-box;
	box-shadow:$box-shaddow;
	ul{
		font-size:20px;
		list-style:none;
		padding:0;
		margin:0;
		li{
			position:relative;
			padding:0;
			margin:0 0 2px;
			a{
				padding:20px 40px;
				display:block;
				color:$black-color;	
				&:hover
				{
					background:$gray-background-color;
					text-decoration:none !important;
					
				}
				span{
					background:$red-background-color;
					color:$white-color;
					display:inline-block;
					padding:1px 20px;
					font-size:19px;
					float:right;
					border-radius:15px;
				}			
			}

		}
		li.active{
			background:$gray-background-color;
			&:after{
				position:absolute;
				content:"";
				width:7px;
				height:100%;
				background:$red-background-color;
				left:0;
				top:0;
			}
		}
	}
}
.campaign-list-section{
	padding-left:30px;
	.campaign-box{
		box-shadow:	$box-shaddow;
		background:$white-background-color;
		margin-bottom:30px;
		overflow:hidden;
		border-radius:5px !important;
		h3{
			color:$black-color;
			font-size:24px;
			margin-bottom:20px;
			padding-top:10px;
		}
		p{
			color:$gray-color;
			font-size:17px;
			line-height:26px;
			margin-bottom:30px;
		}
		.campaign-box-des{
			font-size:18px;
			span{
				color:$red-color;
				margin-left:5px;
			}
			.premote-button{
				float:right;
				background:$dark-blue-background;
				color:$white-color;
				border:none !important;
				font-size:18px;
				position:relative;
				top:-10px;
				margin-right:30px !important;
			}
		}
	}
}
.find-campaigns{
	max-width:790px;
	margin:auto;
}
.custom-select{
	background:$white-background-color;
	position:relative;
	padding:15px 20px;
	border-radius:5px;
	overflow:hidden;
	select{
		border: none;
		background:none;
		-webkit-appearance: none;
    	-moz-appearance: none;
		width:100%;
		font-size:18px;
		color:$black-color;
	}
	span{
		position:absolute;
		color:$black-color;
		right:20px;
		top:12px;
		font-size:24px;
		z-index:0
	}
	.sbSelector{
		width:100%;
		font-size:18px;
		color:$black-color;
		display:block;
		position:relative;
		z-index:1;		
		text-decoration:none !important;
	}
	.sbOptions{
		padding:10px 0 0;
		margin-bottom:0;
		text-align:left;
		font-size:18px;
		a{
			text-decoration:none;
			color:$black-color;
		}
		.active{
			display:none;
		}
	}
}
.custom-input{
	background:$white-background-color;
	position:relative;
	padding:13px 20px;
	border-radius:5px;
	overflow:hidden;
	input{
		background:none;
		width:100%;
		border:none;
		color:$black-color;
		font-size:18px;
	}
	button{
		position:absolute;
		right:0;
		top:0;
		bottom:0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8878fb+0,6055b2+100 */
		background: #8878fb; /* Old browsers */
		background: -moz-linear-gradient(top, #8878fb 0%, #6055b2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #8878fb 0%,#6055b2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #8878fb 0%,#6055b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8878fb', endColorstr='#6055b2',GradientType=0 ); /* IE6-9 */
		color:$white-color;
		border:none;
		padding:0 20px;
		font-size:26px;
	}	
}
.campaigns-header .home-body h1{
	font-size:60px;
	margin-bottom:25px;
}
.campaigns-header .home-body  p{
	font-size:24px;
	margin-bottom:80px;
}