.page-container.dashboard {
  box-shadow: none;
}

.user-stats {
  .user-stat {
    display: inline-block;
    width: 49%;
    margin: 0 auto;
    text-align: center;
  }
  .user-stat-group {
    border-bottom: 0.5px solid #ccc;
  }

  .user-stat-group.top-border {
    border-top: 0.5px solid #ccc;
  }

  .user-stat:nth-child(even) {
    border-left: 0.5px solid #ccc;
  }
}

.hero.hero-dashboard .hero-stats .hero-stat {
    display: inline-block;
    color: #3b454a;
    background: #fff;
    padding: 5px 10px;
    box-shadow: 0 0 5px 0 rgba(204,204,204,.75);
    margin-right: 10px;
    border-radius: 6px;
}