@font-face {
	font-family: "helvetica-neue";
	src: url('helvetnl.eot');
	src: url('helvetnl.eot?#iefix') format('embedded-opentype'),
	url('helvetnl.svg#Helvetica Neue') format('svg'),
	url('helvetnl.woff') format('woff'),
	url('helvetnl.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueMedium.woff') format('woff'), url('HelveticaNeueMedium.ttf')  format('truetype'), url('HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}