.payouts .small-container{
	max-width: 80%;
	margin:auto;
}
.dashboard.payouts .dashboard-box{
	padding:20% 0;
}
.alert-box{
	margin:0 10% ;
	.alert-danger{
		background:$red-background-color;
		color:$white-color;
		border:none;
		ul{
			padding-left:20px;
		}
	}
	.alert-text{
		margin:0 10%;
	}
}
.payout-table{
	padding-top:40px;
	.table-title{
		margin-bottom:30px;
	}
	.box-shadow{
		padding:20px;
		border-radius:5px;
	}
	table.table{
		th{
			border: none;
			color:$blue-color;
			font-weight:normal;
		}
		td:first-child{
			font-size: 40px;
			line-height: 4px;
			width: 40px;
		}
		td:last-child{
			width: 200px;
		}			
	}
	
}
.small-form-container{
	max-width:40%;
	border-radius:8px;
	margin:40px auto;
	.payment-method-content{
		padding:40px 30px;
		.form-style{
			padding:0;
			li{
				list-style:none;
				margin-bottom:40px;
				label{
					font-weight: normal;
					font-size:18px;
					margin-bottom:15px;
				}
				.custom-select{
					box-shadow:1px 2px 4px rgba(0,0,0,.1);
					input{
						font-size:18px;
						width:100%;
						background:none;
						border:none;
					}
					li{
						margin:0;
					}
					
				}
			}
			.action-button{
				margin-bottom:0;
				text-align:center;
				button{
					font-size:18px !important;
				 }
			}
		}
	}
	
}