.payment-steps{
	text-align:center;
	margin-bottom:80px;
	ul{
		padding:0;
		li{
			text-align:center;
			display:inline-block;
			.payment-label{
				font-size:22px;
				display:block;
				padding-bottom:40px;
			}
			.graphic{
				height:70px;
				width:70px;
				display:inline-block;
				line-height:70px;
				text-align:center;
				border-radius:50%;
				background:#54bbe4;
				color:$white-color;
				font-size:28px;
				i{
					display:none;
				}
				
			}
			.dots{
				margin:0 40px;
				font-size:24px;
			}
			.step1{
				position:relative;
				left:-15px;
			}
			.step2{
				position:relative;
				right:-10px;
			}
		}
		li.active{
				.graphic{
					background:#76bd21;
					i{
						display:inline-block;
					}
					span{
						display:none;
					}
				}
		}
		
	}
}
.payments-box{
	margin:auto;
	margin-bottom:80px;
	text-align:center;
	max-width:360px;
	padding-top:20%;
	padding-bottom:20%;
	margin-top:30px;
	position:relative;
	span{
		color:$gray-color;
		display:block;
		padding-top:15px;
		text-align:center;
	}
}
.payments-box.selected{
	&:before{
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    transform: translate(0px, 0px);
	content: "\f00c";
	height:40px;
	text-align:center;
	width:40px;
	line-height:40px;
	color:$white-color;
	font-size:18px;
	background:$red-background-color;
	border-radius:50%;
	overflow:hidden;
		position:absolute;
		right:-10px;
		top:-10px;
	}
	
}
.signup-bg .signup-content .signup-small-container.small-container{
	max-width:60%;
}
.payment-steps + .small-container h2{
	padding:0 10%;
}
.small-container .terms{
	font-size:20px;
	padding:35px 30px;
	 border:$gray-color solid 2px;
	 border-radius:5px;
}
.payments-box-terms{
	padding-bottom:80px;

}