.setting-form{
	h2{
		margin-bottom:40px;
	}	
	.container{
		max-width:60%;
		margin:auto;
		label{
			font-size:18px;
		}
	}
	.input-text{
		border:$gray-color solid 2px;
		border-radius:3px;
		margin-bottom:40px;
		padding:5px;
		input{
			border:none;
			background:none;
			width:100%;
			font-size:18px;
		}
	}
	
}