.signup-bg{
	background: #fafafa;
	min-height:600px;
	.signup-content{
		padding:80px 40px;
		h1{
			margin-bottom:80px;
			font-size:60px;
		}
		.signup-small-container{
			max-width:455px;
			margin:auto;
			.signup-form{
				padding:0;
				li{
					list-style:none;
					margin-bottom:40px;
					input{
						width:100%;
						border:none;
						background:#ffffff;
						font-size:18px;
						border-bottom:$gray-color solid 2px;
						padding:5px;
					}
					.input-checkbox{
						display:inline-block;
						position: relative;
						label{
						/*background:url(/images/checkbox.png) no-repeat left center;*/
							padding-left:32px;
							font-weight:normal;
							position:relative;
							&:after{
								position:absolute;
								background:#d4d4d4;
								color:#fff;
								display:block;
								height:20px;
								width:20px;
								font-size:10px;
								content:"\f00c";
								top:0;
								left:0;
								text-align:center;
								line-height:20px;
								border-radius:3px;
								overflow:hidden;
								  display: inline-block;
								  font: normal normal normal 14px/1 FontAwesome;
								  text-rendering: auto;
								  -webkit-font-smoothing: antialiased;
								  -moz-osx-font-smoothing: grayscale;
								  transform: translate(0, 0);
								  font-size:13px;
								  line-height:19px;	
								  							
							}
							}						
						input{
							position:absolute;
							opacity:0;
							&:checked + label{
								/*background:url(/images/checkbox-checked.png) no-repeat left center;*/
								&:after{
									background:#4c71b7;
								}								
							}
						}
					}
					
				}
			}
		}
	}
}