.sub-heading h2{
	padding:0 10% 40px;
}
.add-networks {
	margin-bottom:60px !important;
	h2{
		margin-bottom:30px !important;
	}
	.alert-text{
		margin:0 0 40px;
	}
	.payments-box{
		border-radius:5px;
		padding-top:25%;
		padding-bottom:25%;
		margin-bottom:0px;
	}
}
.alert-box .alert-danger{
	display:inline-block;
	margin-bottom:40px;
	ul{
		padding-right:10px;
	}
}
.setting-form .netwrok-action {
	padding:0 10% 40px;
}
.setting-form .netwrok-action .input-text{
	padding:15px 25px;
}
.setting-form .netwrok-action p{
	font-size:20px;
	margin-bottom:40px;
}