/*! Start Header Styles */

.header{
    background: #000000;
	border-bottom: 0;
	padding: 15px 0;
	.logo{
		padding: 10px 0;
		img{
			max-width:276px;
		}
	}
	#navbar{
		transition:$fadding;
	}
	.navbar-inverse{
		background:$no-background;
		border:none;
		float: right;
		margin:0;
		padding-top:0px;
		
	}
	.navbar-inverse .navbar-nav > li > a{
		font-family:$fontfamily;
		font-size:14px;
		margin-left:20px;
		&:hover{
			color:$black-color;	

		}
	}
	.navbar-nav > li.active a{
		background: $no-background;	
		color:#ffffff;
		font-weight:700;
		font-size:20px;
		position:relative;
		&:hover{
			background:$no-background;
		}	
	}

	.navbar-nav > li.active a:after{
		content:"";
		position:absolute;
		height:5px;
		width:34px;
		position:absolute;
		display:block;
		left:50%;
		top:100%;
		margin-top:-5px;
		background:#fff;
		margin-left:-14px;
		
	}
	.extra-link{
		float:right;
		padding-top:27px;
		a{
			color:$dark-gray-color;
			font-size:26px;
			display:inline-block;
			margin-left:40px;
			padding:0;
			background:none !important;	
			&:hover{
				color:$black-color;
			}
					
		}
		.dropdown-menu{
			padding:10px 0;
			margin-top:15px;
			min-width:110px;
			text-align: left;
			li{
				padding:5px 10px;
				//text-align:center;
				margin:0;
				a{
					font-size:13px;
					margin:0;
					&:hover{
						color:$black-color;
					}
				}
			}

		}
		
	}	

}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: $white-color;
    color:$black-color;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:#ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color:$black-color;
}
