h1.line-heading {
  background-image: url('/images/line1.png'), url('/images/line.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;

  display: inline-block;
  padding: 16px 0;
  margin-bottom: 20px;
  text-align: left;

  font-weight : bold;
  font-size : 65px;
  letter-spacing : -0.13px;
  color : #1C1C1C;

  &.center {
    margin: 0 auto 20px auto;
  }

}