.hero {
  float: left;
  width: 100%;
  padding: 100px 0;
  background: #000;
  &.hero-lg {
    min-height: 600px;
    padding: 200px 0;

    & h4 {
      line-height: 1.5;
    }
  }
  
 

  &.hero-gradient {
    background: rgba(255,255,255,0.99);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.99) 24%, rgba(255,255,255,0.99) 45%, rgba(237,237,237,0.99) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(24%, rgba(255,255,255,0.99)), color-stop(45%, rgba(255,255,255,0.99)), color-stop(100%, rgba(237,237,237,0.99)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.99) 24%, rgba(255,255,255,0.99) 45%, rgba(237,237,237,0.99) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.99) 24%, rgba(255,255,255,0.99) 45%, rgba(237,237,237,0.99) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.99) 24%, rgba(255,255,255,0.99) 45%, rgba(237,237,237,0.99) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.99) 24%, rgba(255,255,255,0.99) 45%, rgba(237,237,237,0.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );

    height: auto;
    min-height: 0 !important;
    color: #5f5f5f;
    padding: 75px 0;
    border-bottom: 1px solid white;
    margin-bottom: 0;


    & *, & .hero-heading {
      color: #000;
    }
    & .hero-heading {
      margin-top: 11px;
    }

  }


  & * {
    color: white;
  }
  .hero-heading {
    margin-top: 35px;
    color: white;
  }
  .hero-p {
    color: #666;
  }
  &.hero-txt {
    background: #fff;
    height: auto;
    min-height: 0 !important;
    color: #5f5f5f;
    padding: 50px 0;
    border-bottom: 1px dashed #ccc;

    & .hero-heading, & * {
      margin-top: 0;
      color: black;
    }
  }


  &.hero-dashboard {
    background: rgba(217,217,217,.99);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(217,217,217,.99)),color-stop(0,rgba(237,237,237,.99)),color-stop(0,rgba(227,227,227,.99)),color-stop(100%,rgba(255,255,255,.99)));
    background: -webkit-radial-gradient(center ellipse,rgba(217,217,217,.99) 0,rgba(237,237,237,.99) 0,rgba(227,227,227,.99) 0,rgba(255,255,255,.99) 100%);
    background: radial-gradient(ellipse at center,rgba(217,217,217,.99) 0,rgba(237,237,237,.99) 0,rgba(227,227,227,.99) 0,rgba(255,255,255,.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#ffffff', GradientType=1 );
    color: #5f5f5f;
    padding: 75px 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 250px;

    & * {
      color: #000;
    }

    .hero-stats {
      .hero-stat-border {
        display: inline-block;
        vertical-align: 8px;
        height: 30px;
        border: 1px solid #e3e3e3;
        margin: 0 10px;
      }

      .hero-stat {
        display: inline-block;
        color: #3b454a;
        h5 {
          text-transform: uppercase;
          color: #444;
          font-weight: 400;
        }
      }

      @media screen and (max-width: $screen-sm){
        .hero-stat-border {
          border: 1px solid darken(#e3e3e3, 5%);
          margin: 0;
        }

        .hero-stat {
          width: 45%;
        }
      }
    }
  }

  & .font-gray {
    color: $brand-gray;
    line-height: 1.5;
  }
  & .font-dark-gray {
    color: $brand-dark-gray;
    line-height: 1.5;
  }
}

.hero h1 {
    font-size: 50px;
    font-weight:700;
}
@media screen and (max-width: $screen-sm)
{
  .offers {
    & > div {
      margin: 20px auto; 
    }
  }
}

.hero-apply-bttn {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
}
.main-promo {
    /*
    background-image: url(/images/hero.jpg);
    background-size: cover;
    */
}

.first-promo {
    background: url(https://i.imgur.com/aHmXZ5h.png) #000;
    background-size: cover;
}

.hero.second-promo {
    background: url(https://i.imgur.com/Dw6w2LG.png) #000;
    background-size: cover;
}
.hero.third-promo {
    background: url(https://i.imgur.com/CPc9H5H.jpg) #000;
    background-size: cover;
}
.hero.fourth-promo {
    background: #fff;
}
.hero.fourth-promo h2 {
    color: #000;
}
.home-promo-photo img {
    width: 100%;
    background: #000;
    padding: 5px;
}
.hero-apply-bttn {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border-radius: 0;
    border: 1px solid #fff;
    padding: 14px 20px;
    margin-top: 10px;
}
.apply-now-button {
    background: #fff;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 7px 40px;
}
@media (max-width: 700px) {
    .hero.main-promo {
        background:#000000;
    }
    .hero-lg {
        padding:100px 0 !important;
    }

}
@media (max-width: 468px) {

    .hero-lg {
        padding:100px 0 !important;
    }

}