.header {
    float: left;
    width: 100%;
    background: #000;
    box-shadow: 0 1px 6px rgba(0,0,0,.35);
    border-bottom: 1px solid #00000091;
    padding: 15px 0;
}
.header .navbar {
    min-height:auto;
}
.header .navbar .logo {
    width: 200px;
    float: left;
}
.header .navbar-nav>li>a {
    color: #fff;
    font-weight: 700;
    letter-spacing: .4px;
    padding: 0px 15px;
    text-transform:uppercase;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #960000;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #960000;
    color: #ffffff;
}
.navbar {
    margin:0;
}
.navbar-toggle {
    border: 2px solid #fff;
    margin: 0px;
}
.navbar-toggle .icon-bar {
    background: #fff;
}

@media (max-width: 767px)
{
    .header #navbar {
        width: 100%;
    //padding: 0; 
    }
    .header .navbar .logo {
        padding: 10px 0;
    }
    .header .navbar-nav>li {
        width:100%;
    }
    .header .navbar-nav>li>a {
        padding: 15px 0;
        border-top: 1px dashed #ffffff;
    }
    .dropdown-menu>li>a {
        font-weight: 700;
        color: #000;
        padding: 5px;
    }   
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
    .navbar-collapse {
    box-shadow: none;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-bottom:5px solid #960000;
    }
    .nav .open>a.dropdown-toggle, .nav .open>a.dropdown-toggle:focus {
    background-color: transparent !important;
    }
    .navbar-nav .open .dropdown-menu>li>a {
    padding: 10px !important;
    }
}