.header {
    float: left;
    width: 100%;
    background: #000;
    box-shadow: 0 1px 6px rgba(0,0,0,.35);
    border-bottom: 1px solid #00000091;
}
.header .navbar .logo {
    width: 200px;
    float: left;
    padding: 26px 0;
}
.header .navbar-nav>li>a {
    color: #fff;
    font-weight: 700;
    letter-spacing: .4px;
    border-right: 1px solid #222;
    padding: 25px 15px;
    text-transform:uppercase;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #960000;
    color: #ffffff;
}
.navbar {
    margin:0;
}
.navbar-toggle {
    border: 2px solid #fff;
    margin-right: 0px;
}
.navbar-toggle .icon-bar {
    background: #fff;
}

@media (max-width: 767px)
{
    .header #navbar {
    width: 100%;
    //padding: 0; 
    }

}