@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/components-font-awesome/scss/font-awesome";


html, body {
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3b454a;
}
body {
  background: rgba(237,237,237,1);background: rgba(237,237,237,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(250,250,250,1) 65%, rgba(255,255,255,1) 78%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(65%, rgba(250,250,250,1)), color-stop(78%, rgba(255,255,255,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(250,250,250,1) 65%, rgba(255,255,255,1) 78%);
  background: -o-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(250,250,250,1) 65%, rgba(255,255,255,1) 78%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(250,250,250,1) 65%, rgba(255,255,255,1) 78%);
  background: radial-gradient(ellipse at center, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(250,250,250,1) 65%, rgba(255,255,255,1) 78%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 );
}

.page-container {
  -webkit-box-shadow: 0px 1px 132px 10px rgba(214,214,214,1);
  -moz-box-shadow: 0px 1px 132px 10px rgba(214,214,214,1);

  box-shadow: 0px 1px 132px 10px #d6d6d6;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #fff;
  border: darken(#fff, 10%);
  padding: 50px;
  .heading {
    margin-bottom: 50px;
    text-align: center;
  }
  p {
    line-height: 2;
    word-spacing: 2px;
    font-size: 13.2px;
  }
}



@import "layouts/header";
@import "layouts/footer";

@import "components/timeline";
@import "components/notification11";
@import "components/form";
@import "components/anchor";
@import "components/hero";
@import "components/buttons";
@import "components/modal";
@import "components/icons";
@import "components/fonts";

@import "pages/home";
@import "pages/login";