/* MISC */
.container {
    max-width: 1440px;
}

/* HEADER */
header {
    background: #000000;
}
header a.navbar-brand {
    color: #ffffff;
}
header .navbar-brand:focus, header .navbar-brand:hover {
    color: #377dff;
}
header a.nav-link, header a.nav-link.dropdown-toggle {
    color: #FFFFFF;
}
header .nav-link:hover, header .nav-link.dropdown-toggle:hover, header .nav-link:focus, header .navbar-nav .nav-link.active, header .navbar-nav .show>.nav-link {
    color: #377dff;
}


