/* MISC */
.container {
    max-width: 1440px;
}

/* HEADER */
header {
    background: #000000;
}
header a.navbar-brand {
    color: #ffffff;
}
header a.nav-link, header a.dropdown-toggle {
    color: #FFFFFF;
}
header a.nav-link:hover, header a.nav-link.dropdown-toggle:hover {
    color: #377dff;
}
