.date{
  text-align:center;
  top:-50px;
  left:0;
  right:0;
  font-size:20px;
  line-height:20px;
  position:absolute;
  font-weight:bold;
  color:#000;
}

.circle {
  margin: 0 auto;
  top: -17px;
  left: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #76BD21;
  border-radius: 50%;
  display: block;
  position: absolute;
  padding: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 0;
  text-indent: -3px;
  //border: 2px solid;
}

