<div ng-controller="InstagramAccountListController">
    <h3>Instagram Account lists</h3>

    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

    <table class="table table-striped table-bordered table-responsive">
        <tr>
            <th>PID</th>
            <th>IG ID</th>
            <th>Status</th>
            <th>Content?</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat="ig in instagramaccounts">
            <td><% ig.user_id %></td>
            <td><% ig.instagram_id %></td>
            <td>
                <div ng-if="ig.approved == 'yes'" class="text-success">Approved</div>
                <div ng-if="ig.approved == 'no'" class="text-danger">Not Approved</div>
            </td>
            <td><% ig.bio %></td>
            <td><a href="http://instagram.com/<% ig.username %>" target="_blank"><% ig.username %></a></td>
            <td width="250">
                <a ng-if="ig.approved == 'yes'" class="btn btn-danger" ng-click="approval(ig.instagram_id, 'no')">Disapprove</a>
                <a ng-if="ig.approved == 'no'" class="btn btn-success" ng-click="approval(ig.instagram_id, 'yes')">Approve</a>
                <a class="btn btn-info" href="#/instagramaccounts/show/<% ig.instagram_id %>">Details</a>
            </td>
        </tr>
    </table>
</div>